.body{
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 100%;
    background: white;
}

.mat-edit{
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
}
.mat-delete{
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
}
.mat-delete:hover{
        transition: .3s;
    background: red;
    color: white;
}
.mat-edit:hover {
    transition: .3s;
     background: #ffdf00;
  color: white;
}
.mat-cell, .mat-header-cell{
    border-left: 1px solid
}
.border-none{
    border: none;
}
.mat-menu-content{
    display: flex;
    flex-direction: column;
}
.filtros-menu:hover{

}
.ajuste_tamaño {
    height: 312px;
}